.App {
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 8rem;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
h1{
  font-family: 'Nerko One', cursive;
  color:#2b1131;
  letter-spacing: 0.2rem;
  font-size: 2.3rem;
}
ul{
  list-style: none;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  float: right;
  height: 15em;
  bottom: 0;
}

button {
  background-color: #de2e3d;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
